{% extends 'base.html' %}
    
{% block conteudo %}
<h2>Atualizar pizza </h2>
    <form method="post">
        Sabor: <input type="text" name="sabor" value="{{pizza.sabor}}"><br>
        Imagem: <input type="text" name="imagem" value="{{pizza.imagem}}"><br>
        Ingredientes: <input type="text" name="ingredientes" value="{{pizza.ingredientes}}"><br>
        Preco: <input type="text" name="preco" value="{{pizza.preco}}"><br>
        <button type="submit">Atualizar</button>
    </form>

{% endblock %}