{% extends 'base.html' %}

{% block conteudo %}
<ul>
	{% for mensagem in mensagens %}
		<li class="d-flex flex-column"> {{mensagem.id}} - {{mensagem.conteudo}}
			<div>
				<a class="btn btn-outline-primary" href="{{url_for('mensagens.recovery', id=mensagem.id)}}">READ - ONE</a>
				<a class="btn btn-outline-primary" href="{{url_for('mensagens.update', id=mensagem.id)}}">UPDATE</a>
				<a class="btn btn-outline-primary" href="{{url_for('mensagens.delete', id=mensagem.id)}}">DELETE</a>
			</div>
		</li>
	{% endfor %}
</ul>
{% endblock %}